/* @override 
	http://dev.iaminawe.com/sites/dev.iaminawe.com/themes/iaminawe_omega/css/global.css?lv2tnc
	http://dev.iaminawe.com/sites/dev.iaminawe.com/themes/iaminawe_omega/css/global.css?lv3nk0
	http://dev.iaminawe.com/sites/dev.iaminawe.com/themes/iaminawe_omega/css/global.css?lv3q4s
	http://dev.iaminawe.com/sites/dev.iaminawe.com/themes/iaminawe_omega/css/global.css?lv7g6h
	http://dev.iaminawe.com/sites/dev.iaminawe.com/themes/iaminawe_omega/css/global.css?lvah34
	http://dev.iaminawe.com/sites/dev.iaminawe.com/themes/iaminawe_omega/css/global.css?lw2n3n
	http://dev.iaminawe.com/sites/dev.iaminawe.com/themes/iaminawe_omega/css/global.css?lwvw7e
	http://dev.iaminawe.com/sites/dev.iaminawe.com/themes/iaminawe_omega/css/global.css?lwvwpd
	http://dev.iaminawe.com/sites/dev.iaminawe.com/themes/iaminawe_omega/css/global.css?lwvx8r
	http://dev.iaminawe.com/sites/dev.iaminawe.com/themes/iaminawe_omega/css/global.css?lww3ql
	http://dev.iaminawe.com/sites/dev.iaminawe.com/themes/iaminawe_omega/css/global.css?lww78n
	http://dev.iaminawe.com/sites/dev.iaminawe.com/themes/iaminawe_omega/css/global.css?lwwius
	http://dev.iaminawe.com/sites/dev.iaminawe.com/themes/iaminawe_omega/css/global.css?lwy2wk
	http://dev.iaminawe.com/sites/dev.iaminawe.com/themes/iaminawe_omega/css/global.css?lwy562
	http://dev.iaminawe.com/sites/dev.iaminawe.com/themes/iaminawe_omega/css/global.css?lwzywe
	http://dev.iaminawe.com/sites/dev.iaminawe.com/themes/iaminawe_omega/css/global.css?lx008u
*/

/* This file will hold the main styles for your website. */

body{

}

.block{

  padding: 10px;
}

a{
  color: #ccc;
  text-decoration: none;
}

.logo-img{
  width: 50%;
}

.logo-img img{
  max-width: 100%;
  margin: none !important;
}
.flexslider{
  background-color: black;
}

#superfish-2{
  width: 70%;
  font-size: 14px;
}

body {
  font: 13px/1.5 Verdana, Helvetica, Arial, sans-serif;

  color: white;
  font-size: 14px;
}

a:link, a:visited {
  color: #b5dffc;
  text-decoration: none;
}

a:hover {
  color: #ccc;
  text-decoration: none;
}

a:active {
  color: #00bafa;
  text-decoration: none;

}

a.active-trail,
a.active.active{
  
  color: #00bafa;
  text-decoration: none;
}


hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.05em;
  
}

h1 {
  font-size: 36px;
}

h1#page-title{
  
  color: black;
  background-color: rgba(255,254,255,0.6);
  padding: 5px;
line-height: 0.8em;
}

.node-type-design h1#page-title,
.node-type-packaging h1#page-title,
.node-type-business-card h1#page-title,
.node-type-logo h1#page-title,
.node-type-tshirt h1#page-title,
.node-type-mobile h1#page-title,
.node-type-video h1#page-title,
.node-type-theatre h1#page-title,
.node-type-mobile h1#page-title,
.node-type-website h1#page-title{
  display: none;
}

.view-mode-avatar{
  width: 80px;
  float:left;
  margin-right: 20px;
}

h2 {
  font-size: 28px;
}

.group-middle h2{
  line-height: .9em;
}

/* Make site titles the same size if it's an H1 (home) or H2 (internal) */
h1.site-name,
h2.site-name a {
  font-size: 36px;
  color: black !important;
  position: absolute;
  top: 160px;
  left: 20px;
  background-color: white;
  padding: 3px;
}


/* Make it a bit smaller for block headers */
h2.block-title {
  font-size: 18px;
  margin: 0;	
}

h2.node-title {
  font-size: 28px;
}

h3 {
  font-size: 18px;
}

h3.nodetype{
  color: black;
  position: absolute;
  right: 20px;
  top: -40px;
  font-size: 35px;
z-index: 999;
  text-transform: capitalize;
  background-color: white;
height: 40px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

.tabs.primary a{
  background-color: black;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: none;
}
ul.primary{
  border-bottom: none;
}

ul ul,
ol ol {
  padding-top: 0.5em;
}

.views-fluidgrid-processed{

}

.group-header{
	padding-bottom: 3px;
  border-bottom: thin white solid;
  margin-bottom: 30px;
}

.group-header span{
 margin-left: 10px;
 margin-right: 5px;
 padding-left: 10px;
  border-left: thin white solid ;

}

.group-header a{
  margin-right: 5px;
}

.group-header .flippy{
  float: right;
  position: absolute;
  right: 10px;
  top:20px

}

.group-left fieldset{
  clear: both;
  border-top: thin solid white;
  margin-top: 10px !important;

}
.group-left .collapse-processed{
height: 20px !important;
  margin-top: 30px;


}

.group-left .label-inline{
    border-top: thin solid white;
    margin-top: 10px;
}

.node-type-design .group-left,
.node-type-website .group-left,
.node-type-packaging .group-left
{
  width: 60%;
  margin-right: 20px;
}

.node-type-design .group-middle,
.node-type-website .group-middle,
.node-type-packaging .group-middle{
  width: 35%;
  margin-left: 20px;
}

.node-type-video .group-left{
  width: 100%;

  margin: auto;
 
}
.node-type-video .group-middle{
  width: 50%;
}

.node-type-video .group-right{
  width: 50%;
}

#media-vimeo-1{
  width: 100% !important;
  height: 100% !important;
}

.media-viemo-preview-wrapper{
  width: 100% !important;
  height: 100% !important;
}

.media-vimeo-outer-wrapper{
  width: 100% !important;
  height: 100% !important;
}

.vimeo-player{
    width: 100% !important;
  height: 100% !important;
}
.fitvidwrap{
  width: 98% !important;
  margin-bottom: 20px;
  margin: auto;
  padding:20px;

}

ul.links{
  clear: both;
}

ul.links .comment-add{
  display: none;
}
ul.links .comment_forbidden{
  display: none !important;
}

.masonry-brick{
   background-color: black;
  padding: 10px;
  margin-bottom: 10px;
}

.masonry-brick h3{
  font-size: 14px;
}

.node-page{
  background-color: rgba(0,0,0,0.80);
  padding: 10px;
}

.view-mode-full{
  background-color: rgba(0,0,0,0.80);
  padding: 10px;
}
.node ol,
.node ul {
  padding-left: 1.2em;
}

.node ul.inline,
.node ol.inline {
  padding-left: 0;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol,
ul, pre, table, address, fieldset {
  margin-bottom: 20px;
}

dt, .admin h3 {
  font-size: 18px;
  margin: 0;
}

dd {
  padding-left: 10px;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 20px;
}



#block-system-main-menu{
  background-color: black;
  font-size: 18px;
  width: 45%;
  float:left;
 
}

.block-main-menu ul li{
  list-style-image: none;
  list-style-type: none;
}


.block-main-menu ul li{
  display: inline;
}



.block-main-menu{
  float: left;
}

.branding-data{
width: 30%;
float: left;
}