/* @override 
	http://dev.gregg.iaminawe.com/sites/dev.iaminawe.com/themes/greggresume/css/greggresume-alpha-default-narrow.css?m0lm31
	http://dev.gregg.iaminawe.com/sites/dev.iaminawe.com/themes/greggresume/css/greggresume-alpha-default-narrow.css?m0lsoo
	http://dev.gregg.iaminawe.com/sites/dev.iaminawe.com/themes/greggresume/css/greggresume-alpha-default-narrow.css?m0luc4
	http://dev.gregg.iaminawe.com/sites/dev.iaminawe.com/themes/greggresume/css/greggresume-alpha-default-narrow.css?m0lwmx
*/

/* This file will hold styles that are loaded using the same media query as the narrow grid. */



#logo{
  margin-left: -30px;
}

#logo img{
  width: 80px;
  position:absolute;
  left: 90px;
}

.masonry-brick{
  width: 165px !important;
}

.group-left{
  width: 50% !important;
}
.group-middle{
  width: 43% !important;
}
.group-right{
  
}

.twocolumn{
  -moz-column-count: 2;
-moz-column-gap: 2em;
-webkit-column-count: 2;
-webkit-column-gap: 2em;

}
.group-header .flippy{
  float: right;
  padding:5px;
  font-weight: bold;
  background-color: white;
  margin-bottom: 5px !important;
  margin-top: -30px !important;
  margin-left: 0px !important;
  margin-right: -10px !important;
}


h1.site-name,
h2.site-name a {
  font-size: 86px;
  line-height: 50px;
  padding: 3px;
  position: relative;
  top: -20px;
 text-shadow: 0px 1px 5px #888;
 color: white;
  
}

h6.site-slogan{
  color: #888;
  font-style: italic;
  font-size: 24px;
  text-shadow: white 0 0 5px;
  padding: 10px;
  margin-top: -30px;
  width: 80%;

}